<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artikel Kucing</title>
    <link rel="stylesheet" href="../../css/artikel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-JRL5RPlID/2LOiSo1b2WMzvu1SJf34ATgfYlgrPRkM7gi+8jSl1otK2tjrUVBnEJDcmu8+L10+1R3D78tjMcnA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="hero-bg">
            <nav class="navbar">
                <div class="container nav-wrapper">
                    <img src="/pawspurrs/assets/icons/logo.png" alt="logo" href="#" class="logo">
                    <div class="menu-wrapper">
                        <ul class="menu">
                            <li class="menu-item"><a href="#" class="menu-link">Beranda</a></li>
                            <li class="menu-item"><a href="#" class="menu-link">Artikel</a></li>
                            <li class="menu-item"><a href="#" class="menu-link">Konsultasi</a></li>
                        </ul>
                    </div>
                    <div class="user-box">
                        Hi, User!
                        <img src="a">
                        <i class='fas fa-user-alt' style="color: white;"></i>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="Kategori">
        <h1>Kategori</h1>
    </div>

    <main>
        <div class="search">
            <input type="text" placeholder="search...">
            <a><i class="fa fa-search"></i></a>
        </div>
        <div class="image">
            <div>
                <img src="/pawspurrs/assets/images/kategori kesehatan.png" alt="Image 1">" alt="">
                <a href="#" class="article_btn">Lihat Kategori</a>
            </div>
            <div>
                <img src="/pawspurrs/assets/images/kategori Nutrisi.png" alt="">
                <a href="#" class="article_btn">Lihat Kategori</a>
            </div>
            <div>
                <img src="/pawspurrs/assets/images/kategori Perawatan.png" alt="">
                <a href="#" class="article_btn">Lihat Kategori</a>
            </div>
        </div>
    </main>

    <article id="popular-articles">
        <h1>Artikel Populer</h1>
        <article> 
        <div class="article-container">
                <img src="/pawspurrs/assets/images/Populer1.png">
                <div class="article-content">
                    <h3>Bagaimana Memilih Dokter Hewan yang Tepat untuk Kucing Anda</h3>
                    <p>Kesehatan dan kesejahteraan kucing Anda adalah prioritas utama sebagai pemilik yang peduli. Salah
                        satu langkah penting dalam memastikan bahwa kucing Anda mendapatkan perawatan yang terbaik
                        adalah dengan memilih dokter hewan yang tepat.</p>
                    <a href="#" class="learn_more_btn">Learn More</a>
                </div>
                <img src="/pawspurrs/assets/images/Populer2.png">
                <div class="article-content">
                    <h3>Cara Mencegah Kucing Anda Melompat Sembarangan</h3>
                    <p>Apakah kucing Anda sering melompat ke meja atau tempat-tempat lain yang tidak diinginkan? Melatih
                        kucing untuk tidak melompat ke tempat-tempat tersebut bisa menjadi tugas yang menantang, tetapi
                        dengan sedikit kesabaran dan strategi yang tepat, Anda bisa melakukannya.</p>
                    <a href="#" class="learn_more_btn">Learn More</a>
                </div>
                <img src="/pawspurrs/assets/images/Populer3.png">
                <div class="article-content">
                    <h3>Mata kucing adalah jendela jiwamu</h3>
                    <p>Pernahkah Anda bertanya-tanya bagaimana kucing Anda melihat dunia? Apakah kucing benar-benar dapat
                        melihat dalam kegelapan? Apakah mereka dapat melihat warna? Penulis Gaye Flagg menjelajahi topik
                        menarik tentang penglihatan kucing dan keajaiban mata kucing.</p>
                    <a href="#" class="learn_more_btn">Learn More</a>
                </div>
            </article>
        </div>
    </article>    

    <footer>
        <p>Quick Links: <a href="#">Privacy Policy</a> | <a href="#">0034560000</a> | <a href="#">Terms and
                Conditions</a></p>
    </footer>
</body>

</html>